<div class="card animated fadeIn">
  <div class="card-body">
    <h4 class="card-title">Links Acortados en la Plataforma</h4>
    <h6 class="card-subtitle mb-2 text-muted">Lista con todos los links acortados por los usuarios de Taiv.io</h6>

    <div class="table-responsive">
      <table class="table table-sm table-ellipsis">
        <thead class="thead-gray">
          <th>Url Larga</th>
          <th>Url Corta</th>
          <th>Clicks</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let url of urls">
            <td class="col-7">
              <a href="{{url.long_url}}" target="_blank">{{url.long_url}}</a>
            </td>
            <td class="col-2">
              <a href="http://{{url.short_url}}" target="_blank">{{url.short_url}}</a>
            </td>
            <td class="col-2">{{url.clicks}}</td>
            <td class="col-1">
              <button class="btn btn-sm btn-outline-dark" (click)="open(modal_content, url.short_url)">
                <i class="fa fa-qrcode"></i>
              </button>
              <button class="btn btn-sm btn-outline-dark" (click)="openShare(modal_share, url.short_url)">
                <i class="fa fa-share-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination
        [collectionSize]="total"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
        aria-label="Pagination">
      </ngb-pagination>
    </div>
  </div>
</div>

<ng-template #modal_content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Código QR de la URL</h4>
    <button type="button" class="close" aria-label="Cerrar" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--
    <button class="btn btn-primary"(click)="download()">
      <i class="fa fa-save"></i>
      Descargar
    </button>
    -->
    <ngx-qrcode
      id="qr_img"
      [qrc-value]="selectedUrl"
      qrc-class = "aclass"
      qrc-errorCorrectionLevel = "L">
    </ngx-qrcode>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>


<ng-template #modal_share let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Compartir en redes sociales</h4>
    <button type="button" class="close" aria-label="Cerrar" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <share-buttons
      title="Compartiendo el enlace {{selectedUrl}}"
      description="¡Revisa este link!"
      [url]="'http://'+selectedUrl">
    </share-buttons>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>
