<div class="container p-0 cdpt-5">
  <div class="row animated fadeIn home-container m-1 m-md-1">
    <div class="col-12 row">
      <div class="col-12 offset-md-1 col-md-5 p-2 p-md-5">
        <h1 class="display-4 logo">Taiv.io <small class="text-muted">que la hacemos corta</small></h1>
      </div>
      <div class="col-12 col-md-5 p-2 p-md-5">
        <p class="lead text-left mt-md-5">
          Para acortar todos tus links llegó Taiv.io, un acortador de URLs pensado para ti.
        </p>
      </div>
    </div>
    <div class="offset-md-2 col-md-8 pb-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Ingresa tu link..." [(ngModel)]="longUrl">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" (click)="shortenUrl()">
            ¡Acórtalo!
          </button>
        </span>
      </div>
    </div>
    <div class="offset-md-2 col-md-8 p-2 mb-2 bg-danger text-white" *ngIf="error">
      Error: {{ error }}
    </div>
    <div class="offset-md-2 col-md-8 pb-5" *ngIf="result">
      <div class="input-group">
        <label for="colFormLabelSm" class="d-xs-none d-sm-col-sm-2 col-form-label col-form-label">Resultado:</label>
        <input type="text" class="form-control text-white" placeholder="Tu link va aquí" [(ngModel)]="result.shortUrl" disabled>
        <span class="input-group-btn">
          <button
            class="btn btn-primary"
            type="submit"
            ngxClipboard
            [cbContent]="result.shortUrl"
            (cbOnSuccess)="isCopied = true"
            [ngClass]="{
              'btn-success': isCopied
            }"
          >
            <i class="fa fa-clipboard"></i>
            <span *ngIf="!isCopied">¡Cópialo!</span>
            <span *ngIf="isCopied">Copiado al portapapeles</span>
          </button>
        </span>
      </div>
    </div>

    <div class="offset-md-2 col-md-8 col-12">
      <table class="table table-sm">
        <thead class="thead-gray">
          <th>Url Larga</th>
          <th>Url Corta</th>
          <th>Clicks</th>
        </thead>
        <tbody>
          <tr *ngFor="let url of urls">
            <td class="text-truncate">{{url.long_url}}</td>
            <td>{{url.short_url}}</td>
            <td>{{url.clicks}}</td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination
        [collectionSize]="total"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
        aria-label="Pagination">
      </ngb-pagination>
    </div>

  </div>
</div>
