<div class="card animated fadeIn">
  <div class="card-body">
    <h4 class="card-title">Panel de Administración</h4>
    <h6 class="card-subtitle mb-2 text-muted">Información sobre la plataforma Taiv.io</h6>

    <div class="card-body">
      <div class="card-columns">
        <div class="card text-center border-info">
          <div class="card-header font-weight-bold text-info">Links Acortados</div>
          <div class="card-body bg-info text-white">
            <p class="card-text large-number">
              {{ urlCount }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
