<div class="app flex-row align-items-center">
  <div class="container under-navbar">
    <div class="row justify-content-center animated fadeIn">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Registrarse</h1>
            <p class="text-muted">Crea tu cuenta</p>
            <form [formGroup]="registerForm" (ngSubmit)="doRegister()" novalidate>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre"
                  formControlName="name"
                  [ngClass]="{
                    'is-invalid': registerForm.get('name').errors && !registerForm.get('name').pristine,
                    'is-valid'  : registerForm.get('name').valid
                  }"
                >
              </div>

              <div class="input-group mb-3">
                <span class="input-group-addon">@</span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid': registerForm.get('email').errors && !registerForm.get('email').pristine,
                    'is-valid'  : registerForm.get('email').valid
                  }"
                >
              </div>

              <div formGroupName="passwords">
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Contraseña"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid': registerForm.get('passwords').get('password').errors && !registerForm.get('passwords').get('password').pristine,
                    'is-valid'  : registerForm.get('passwords').get('password').valid
                  }"
                >
              </div>

              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Repetir Contraseña"
                  formControlName="repeat"
                  [ngClass]="{
                    'is-invalid': registerForm.get('passwords').errors && !registerForm.get('passwords').get('repeat').pristine,
                    'is-valid'  : registerForm.get('passwords').valid
                  }"
                >
              </div>
              </div>

              <div *ngIf="formError" class="alert alert-danger">
                <p *ngIf="errorMessage">
                  {{errorMessage}}
                </p>
              </div>

              <button type="submit" class="btn btn-block btn-success" [disabled]="!registerForm.valid">Crear Cuenta</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
