// Here you can add other styles
a, a:active, a:focus {
  outline: none;
}

.home-container {
  background-color: #FFF;
}

.logo {
  color: rgb(247, 87, 36);
}

body{
  background-color: rgb(247, 87, 36);
}

.table.table-ellipsis tbody td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.bg-primary {
  background-color: rgb(207, 51, 24) !important;
}

.under-navbar {
  margin-top: 90px;
}
